.btn {
  display: inline-flex;
  padding: 0 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  text-align: center;
  white-space: nowrap;

  &_close {
    padding: 0;
    width: 46px;
    justify-content: center;

    @media (max-width: $md) {
      width: 41px;
      height: 41px !important;
    }
  }

  &_size {
    &_large {
      height: 63px;
      border: 2px solid;
      border-radius: $border-radius;
      font-size: $font-size-sm;
      text-transform: uppercase;

      img {
        display: block;
        margin-right: 16px;
      }
    }
    &_big {
      height: 46px;
      border-radius: $border-radius-bg;
      font-size: $font-size-md;
      font-weight: $font-weight_medium;

      @media (max-width: $md) {
        height: 38px;
        font-size: $font-size-sm;
      }
    }
    &_medium {
      height: 38px;
      border-radius: $border-radius;
    }
  }

  &_color {
    &_primary {
      background: $gradient-primary;
      color: $white;
      box-shadow: $bs_btn_primary;

      &:hover {
        background: $bg_btn_primary_hover;
      }
    }
    &_secondary {
      background: $gradient-secondary;
      color: $blue_darken;
      box-shadow: $bs_btn_secondary;

      &:hover {
        background: $bg_btn_secondary_hover;
      }
    }
    &_open {
      background: $bg_btn_open;
      color: $blue_darken;
      box-shadow: $bs_btn_open;

      &:hover {
        background: $bg_btn_open_hover;
      }
    }
    &_close {
      background: $white;
      box-shadow: $bs_btn_primary;
    }

    &_twitter {
      background: $blue;
      color: $white;
      border-color: $blue;

      &:hover {
        background: $blue_dark;
        border-color: $blue_dark;
      }

      &-logout {
        background: $blue_darken;
        border-color: $blue_darken;

        &:hover {
          background: lighten($blue_darken, 10%);
          border-color: lighten($blue_darken, 10%);
        }
      }
    }
  }

  &_type {
    &_tab {
      background: $grey_light;
      color: $color_text;
      height: 36px;
      border-radius: $border-radius-md !important;

      &_babies {
        background: $gradient-secondary !important;
        color: $color_text !important;
      }
    }

    &_use {
      margin-bottom: 12px;
      width: 180px;
      height: 62px;
      justify-content: center;
      border: 2px solid;
      border-radius: $border-radius;
      font-size: $font-size-sm;
      font-weight: $font-weight_medium;
      text-transform: uppercase;

      span {
        display: inline-flex;
        margin-left: 4px;
      }
      @media (max-width: $md) {
        flex-direction: column;
        margin-bottom: 7px;
        width: 106px;
        height: 42px;
        font-size: 13px;
        line-height: 12px;

        span {
          display: block;
          margin-top: 4px;
          margin-left: 0;
        }
      }

      &_male {
        border-color: $blue;
        color: $blue;

        &:hover {
          background: $blue;
          color: $white;
        }
      }

      &_female {
        border-color: $red;
        color: $red;

        &:hover {
          background: $red;
          color: $white;
        }
      }
    }
    &_next, &_prev {
      padding: 0 34px;
      border: 2px solid;
      position: relative;
      border-radius: $border-radius;
      font-weight: $font-weight_medium;

      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
      }
    }
    &_next {
      padding-right: 38px;
      border-color: $red;
      background: $red;
      color: $white;

      &:after {
        border: solid $white;
        border-width: 1px 1px 0 0;
        transform: rotate(45deg);
        right: 10px;
      }

      &:hover {
        background: darken($red, 10%);
        color: $white;

        &:after {
          border-color: $white;
        }
      }
    }
    &_prev {
      padding-left: 38px;
      border-color: $blue_darken;
      background: $blue_darken;
      color: $white;

      &:after {
        border: solid $white;
        border-width: 1px 0 0 1px;
        transform: rotate(-45deg);
        left: 10px;
      }

      &:hover {
        background: lighten($blue_darken, 10%);
        color: $white;

        &:after {
          border-color: $white;
        }
      }
    }
  }
  &__chosen {
    display: none !important;
    margin-bottom: 17px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    font-size: $font-size;
    font-weight: $font-weight_black;
    color: $white;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.26);
    text-transform: uppercase;
    border-radius: $border-radius-md;

    &_male {
      background: $blue;
      box-shadow: 0 3px 0 $blue_dark;
    }

    &_female {
      background: $red;
      box-shadow: 0 3px 0 $red_dark;
    }

    @media (max-width: $sm) {
      display: flex !important;
    }
  }
  &_crypto {
    justify-content: center;
    padding: 4px 7px 4px 9px;
    width: 180px;
    background: $blue_darken;
    border-radius: $border-radius;
    color: $white;
    font-weight: $font-weight_medium;
    font-size: $font-size;
    white-space: normal;

    @media (max-width: $md) {
      padding: 1px 5px 2px;
      flex-direction: column;
      width: 106px;
      font-size: 12px;
      line-height: 15px;
    }

    &:hover {
      background: #683AFD;
    }

    img {
      display: block;
      margin-left: 4px;
      height: 23px;

      @media (max-width: $md) {
        margin-left: 0;
        width: 96px;
        height: auto;
      }
    }
  }
}
