@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap');

$font-family: 'Poppins', sans-serif;;

$font-weight_regular:   500;
$font-weight_medium:    600;
$font-weight_bold:      700;
$font-weight_black:     900;

$font-size:             14px;
$font-size-sm:          16px;
$font-size-md:          18px;
$font-size-bg:          26px;
$font-size-lg:          38px;

$line-height:            1.5;
$line-height-bg:         1.1;
